
<table class="table table-hover table-inverse">
			<thead>
				<tr>
					<th>Image</th>
					<th>Name</th>
					<th colspan="3"></th>
				</tr>
			</thead>
			<% @users.each do |follower| %>
			<td>
				<%= follower.name %>
			</td>
			<% end %>
</table>